//
// Archivio
// --------------------------------------------------

.archive {

	//navigation
	.navigation {
		padding: 40px 0 80px 0;
   		display: block;

		.nav-links {

			.nav-previous {
				float:left;
			}

			.nav-next {
				float:left;
				margin-left: 20px;
			}
		}
	}
}